In [1]:
import numpy as np
import pandas as pd
import json
import ast


pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000)

train = pd.read_csv('../data/input/train.csv')
test = pd.read_csv('../data/input/test.csv')

train.head(3)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000

### production_countries

In [2]:
train_gen = train.loc[:, 'production_countries']
test_gen = test.loc[:, 'production_countries']

#学習データ切り分け
train_gen = train_gen.to_json()
train_gen_dict = json.loads(train_gen)
iso_train_dict = {}
name_train_dict = {}

for k, v in train_gen_dict.items() :
    if v is not None :
        k = int(k)
        v = ast.literal_eval(v)
        
        if len(v) >= 2 :
            iso_train_list = []
            name_train_list = []
            for i in range(len(v)) :
                iso_train_list.append(str(v[i]['iso_3166_1']))
                name_train_list.append(str(v[i]['name']))
                
            iso_train_dict[k] = ', '.join(iso_train_list)
            name_train_dict[k] = ', '.join(name_train_list)

        else:
            iso_train_dict[k] = v[0]['iso_3166_1']
            name_train_dict[k] = v[0]['name']
            
iso_train_se = pd.Series(iso_train_dict, iso_train_dict.keys(), name='production_countries_iso_3166_1')
name_train_se = pd.Series(name_train_dict, name_train_dict.keys(), name='production_countries_name')


#テストデータ切り分け
test_gen = test_gen.to_json()
test_gen_dict = json.loads(test_gen)
iso_test_dict = {}
name_test_dict = {}

for k, v in test_gen_dict.items() :
    if v is not None :
        k = int(k)
        v = ast.literal_eval(v)
        
        if len(v) >= 2 :
            iso_test_list = []
            name_test_list = []
            for i in range(len(v)) :
                iso_test_list.append(str(v[i]['iso_3166_1']))
                name_test_list.append(str(v[i]['name']))
                
            iso_test_dict[k] = ', '.join(iso_test_list)
            name_test_dict[k] = ', '.join(name_test_list)

        else:
            iso_test_dict[k] = v[0]['iso_3166_1']
            name_test_dict[k] = v[0]['name']
            
iso_test_se = pd.Series(iso_test_dict, iso_test_dict.keys(), name='production_countries_iso_3166_1')
name_test_se = pd.Series(name_test_dict, name_test_dict.keys(), name='production_countries_name')

In [3]:
train = pd.concat([train, iso_train_se, name_train_se], axis=1)
train.drop('production_countries', inplace=True, axis=1)
train.head(3)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,production_countries_iso_3166_1,production_countries_name
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,US,United States of America
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,"[{'name': 'Walt Disney Pictures', 'id': 2}]",8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,US,United States of America
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...",10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,US,United States of America

In [4]:
train = pd.concat([test, iso_test_se, name_test_se], axis=1)
train.drop('production_countries', inplace=True, axis=1)
train.head(3)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,production_countries_iso_3166_1,production_countries_name
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,/tnftmLMemPLduW6MRyZE0ZUD19z.jpg,NaN,7/14/07,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de...","JP, US","Japan, United States of America"
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,/9MgBNBqlH1sG4yG2u4XkwI5CoJa.jpg,"[{'name': 'Woolner Brothers Pictures Inc.', 'i...",5/19/58,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de...",US,United States of America
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,/ed6nD7h9sbojSWY2qrnDcSvDFko.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",5/23/97,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de...",US,United States of America

### spoken_languages

In [5]:
train_gen = train.loc[:, 'spoken_languages']
test_gen = test.loc[:, 'spoken_languages']

#学習データ切り分け
train_gen = train_gen.to_json()
train_gen_dict = json.loads(train_gen)
iso_train_dict = {}
name_train_dict = {}

for k, v in train_gen_dict.items() :
    if v is not None :
        k = int(k)
        v = ast.literal_eval(v)
        
        if len(v) >= 2 :
            iso_train_list = []
            name_train_list = []
            for i in range(len(v)) :
                iso_train_list.append(str(v[i]['iso_639_1']))
                name_train_list.append(str(v[i]['name']))
                
            iso_train_dict[k] = ', '.join(iso_train_list)
            name_train_dict[k] = ', '.join(name_train_list)

        else:
            iso_train_dict[k] = v[0]['iso_639_1']
            name_train_dict[k] = v[0]['name']
            
iso_train_se = pd.Series(iso_train_dict, iso_train_dict.keys(), name='spoken_languages_iso_639_1')
name_train_se = pd.Series(name_train_dict, name_train_dict.keys(), name='spoken_languages_name')


#テストデータ切り分け
test_gen = test_gen.to_json()
test_gen_dict = json.loads(test_gen)
iso_test_dict = {}
name_test_dict = {}

for k, v in test_gen_dict.items() :
    if v is not None :
        k = int(k)
        v = ast.literal_eval(v)
        
        if len(v) >= 2 :
            iso_test_list = []
            name_test_list = []
            for i in range(len(v)) :
                iso_test_list.append(str(v[i]['iso_639_1']))
                name_test_list.append(str(v[i]['name']))
                
            iso_test_dict[k] = ', '.join(iso_test_list)
            name_test_dict[k] = ', '.join(name_test_list)

        else:
            iso_test_dict[k] = v[0]['iso_639_1']
            name_test_dict[k] = v[0]['name']
            
iso_test_se = pd.Series(iso_test_dict, iso_test_dict.keys(), name='spoken_languages_iso_639_1')
name_test_se = pd.Series(name_test_dict, name_test_dict.keys(), name='spoken_languages_name')

In [6]:
train = pd.concat([train, iso_train_se, name_train_se], axis=1)
train.drop('spoken_languages', inplace=True, axis=1)
train.head(3)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,release_date,runtime,status,tagline,title,Keywords,cast,crew,production_countries_iso_3166_1,production_countries_name,spoken_languages_iso_639_1,spoken_languages_name
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,/tnftmLMemPLduW6MRyZE0ZUD19z.jpg,NaN,7/14/07,90.0,Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de...","JP, US","Japan, United States of America","en, ja","English, 日本語"
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,/9MgBNBqlH1sG4yG2u4XkwI5CoJa.jpg,"[{'name': 'Woolner Brothers Pictures Inc.', 'i...",5/19/58,65.0,Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de...",US,United States of America,en,English
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,/ed6nD7h9sbojSWY2qrnDcSvDFko.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",5/23/97,100.0,Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de...",US,United States of America,en,English

In [7]:
test = pd.concat([test, iso_test_se, name_test_se], axis=1)
test.drop('spoken_languages', inplace=True, axis=1)
test.head(3)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,runtime,status,tagline,title,Keywords,cast,crew,spoken_languages_iso_639_1,spoken_languages_name
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,/tnftmLMemPLduW6MRyZE0ZUD19z.jpg,NaN,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",7/14/07,90.0,Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de...","en, ja","English, 日本語"
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,/9MgBNBqlH1sG4yG2u4XkwI5CoJa.jpg,"[{'name': 'Woolner Brothers Pictures Inc.', 'i...","[{'iso_3166_1': 'US', 'name': 'United States o...",5/19/58,65.0,Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de...",en,English
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,/ed6nD7h9sbojSWY2qrnDcSvDFko.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",5/23/97,100.0,Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de...",en,English

### cast

In [8]:
train_gen = train.loc[:, 'cast']
test_gen = test.loc[:, 'cast']

In [9]:
train_gen = train.loc[:, 'cast']
test_gen = test.loc[:, 'cast']

#学習データ切り分け
train_gen = train_gen.to_json()
train_gen_dict = json.loads(train_gen)

cast_id_train_dict = {}
character_train_dict = {}
credit_id_train_dict = {}
gender_train_dict = {}
id_train_dict = {}
name_train_dict = {}
order_train_dict = {}
profile_path_train_dict = {}

for k, v in train_gen_dict.items() :
    if v is not None :
        k = int(k)
        v = ast.literal_eval(v)
        
        cast_id_train_list = []
        character_train_list = []
        credit_id_train_list = []
        gender_train_list = []
        id_train_list = []
        name_train_list = []
        order_train_list = []
        profile_path_train_list = []
        
        for i in range(len(v)) :
            cast_id_train_list.append(str(v[i]['cast_id']))
            character_train_list.append(str(v[i]['character']))
            credit_id_train_list.append(str(v[i]['credit_id']))
            gender_train_list.append(str(v[i]['gender']))
            id_train_list.append(str(v[i]['id']))
            name_train_list.append(str(v[i]['name']))
            order_train_list.append(str(v[i]['order']))
            profile_path_train_list.append(str(v[i]['profile_path']))
                
        cast_id_train_dict[k] = ', '.join(cast_id_train_list)
        character_train_dict[k] = ', '.join(character_train_list)
        credit_id_train_dict[k] = ', '.join(credit_id_train_list)
        gender_train_dict[k] = ', '.join(gender_train_list)
        id_train_dict[k] = ', '.join(id_train_list)
        name_train_dict[k] = ', '.join(name_train_list)
        order_train_dict[k] = ', '.join(order_train_list)
        profile_path_train_dict[k] = ', '.join(profile_path_train_list)

cast_id_train_se = pd.Series(cast_id_train_dict, cast_id_train_dict.keys(), name='cast_cast_id')
character_train_se = pd.Series(character_train_dict, character_train_dict.keys(), name='cast_character')
credit_id_train_se = pd.Series(credit_id_train_dict, credit_id_train_dict.keys(), name='cast_credit_id')
gender_train_se = pd.Series(gender_train_dict, gender_train_dict.keys(), name='cast_gender')
id_train_se = pd.Series(id_train_dict, id_train_dict.keys(), name='cast_id')
name_train_se = pd.Series(name_train_dict, name_train_dict.keys(), name='cast_name')
order_train_se = pd.Series(order_train_dict, order_train_dict.keys(), name='cast_order')
profile_path_train_se = pd.Series(profile_path_train_dict, profile_path_train_dict.keys(), name='cast_profile_path')

#テストデータ切り分け
test_gen = test_gen.to_json()
test_gen_dict = json.loads(test_gen)
cast_id_test_dict = {}
character_test_dict = {}
credit_id_test_dict = {}
gender_test_dict = {}
id_test_dict = {}
name_test_dict = {}
order_test_dict = {}
profile_path_test_dict = {}

for k, v in test_gen_dict.items() :
    if v is not None :
        k = int(k)
        v = ast.literal_eval(v)
        
        cast_id_test_list = []
        character_test_list = []
        credit_id_test_list = []
        gender_test_list = []
        id_test_list = []
        name_test_list = []
        order_test_list = []
        profile_path_test_list = []

        for i in range(len(v)) :
            cast_id_test_list.append(str(v[i]['cast_id']))
            character_test_list.append(str(v[i]['character']))
            credit_id_test_list.append(str(v[i]['credit_id']))
            gender_test_list.append(str(v[i]['gender']))
            id_test_list.append(str(v[i]['id']))
            name_test_list.append(str(v[i]['name']))
            order_test_list.append(str(v[i]['order']))
            profile_path_test_list.append(str(v[i]['profile_path']))
                
        cast_id_test_dict[k] = ', '.join(cast_id_test_list)
        character_test_dict[k] = ', '.join(character_test_list)
        credit_id_test_dict[k] = ', '.join(credit_id_test_list)
        gender_test_dict[k] = ', '.join(gender_test_list)
        id_test_dict[k] = ', '.join(id_test_list)
        name_test_dict[k] = ', '.join(name_test_list)
        order_test_dict[k] = ', '.join(order_test_list)
        profile_path_test_dict[k] = ', '.join(profile_path_test_list)

cast_id_test_se = pd.Series(cast_id_test_dict, cast_id_test_dict.keys(), name='cast_cast_id')
character_test_se = pd.Series(character_test_dict, character_test_dict.keys(), name='cast_character')
credit_id_test_se = pd.Series(credit_id_test_dict, credit_id_test_dict.keys(), name='cast_credit_id')
gender_test_se = pd.Series(gender_test_dict, gender_test_dict.keys(), name='cast_gender')
id_test_se = pd.Series(id_test_dict, id_test_dict.keys(), name='cast_id')
name_test_se = pd.Series(name_test_dict, name_test_dict.keys(), name='cast_name')
order_test_se = pd.Series(order_test_dict, order_test_dict.keys(), name='cast_order')
profile_path_test_se = pd.Series(profile_path_test_dict, profile_path_test_dict.keys(), name='cast_profile_path')

In [10]:
train = pd.concat([train, cast_id_train_se, character_train_se, credit_id_train_se, gender_train_se, id_train_se, name_train_se,
                  order_train_se, profile_path_train_se], axis=1)
train.drop('cast', inplace=True, axis=1)
train.head(3)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,release_date,runtime,status,tagline,title,Keywords,crew,production_countries_iso_3166_1,production_countries_name,spoken_languages_iso_639_1,spoken_languages_name,cast_cast_id,cast_character,cast_credit_id,cast_gender,cast_id,cast_name,cast_order,cast_profile_path
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,/tnftmLMemPLduW6MRyZE0ZUD19z.jpg,NaN,7/14/07,90.0,Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de...","JP, US","Japan, United States of America","en, ja","English, 日本語","3, 4, 5, 6, 7, 8, 9","Tonio, Alice, Ash Ketchum, Pikachu, Darkrai, M...","52fe44e7c3a368484e03d68d, 52fe44e7c3a368484e03...","0, 1, 1, 1, 0, 0, 0","82140, 111768, 111767, 73044, 108721, 111779, ...","Craig Blair, Emily Bauer, Sarah Natochenny, Ik...","0, 1, 2, 3, 4, 5, 6","None, None, /pZidptjHfqi2gQVVQmQ25rXyayi.jpg, ..."
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,/9MgBNBqlH1sG4yG2u4XkwI5CoJa.jpg,"[{'name': 'Woolner Brothers Pictures Inc.', 'i...",5/19/58,65.0,Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'credit_id': '55807805c3a3685b1300060b', 'de...",US,United States of America,en,English,"2, 3, 4, 5, 6, 8, 9, 10, 11, 20","Nancy Fowler Archer, Harry Archer, Honey Parke...","52fe47949251416c7509e999, 52fe47949251416c7509...","1, 0, 1, 0, 0, 0, 0, 0, 2, 2","104412, 108299, 89163, 34211, 140411, 14365, 1...","Allison Hayes, William Hudson, Yvette Vickers,...","0, 1, 2, 3, 4, 6, 7, 8, 9, 10","/6VoMLGGRH1ccl25cyaHJWyMapD0.jpg, /yJDm8q5pzge..."
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,/ed6nD7h9sbojSWY2qrnDcSvDFko.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",5/23/97,100.0,Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'credit_id': '52fe4330c3a36847f8041367', 'de...",US,United States of America,en,English,"11, 12, 13, 14, 15, 16, 17, 18, 20","Maggie, Sam, Linda Green, Anton Depeux, Nana, ...","52fe4330c3a36847f804139b, 52fe4330c3a36847f804...","1, 2, 1, 2, 1, 2, 2, 2, 1","5344, 4756, 11164, 10698, 21151, 21152, 21153,...","Meg Ryan, Matthew Broderick, Kelly Preston, Tc...","0, 1, 2, 3, 4, 5, 6, 7, 8","/iv33eEcSakPCkO2MiR4bIZpjgyg.jpg, /j9ETatVKFxY..."

In [11]:
test = pd.concat([test, cast_id_test_se, character_test_se, credit_id_test_se, gender_test_se, id_test_se, name_test_se,
                  order_test_se, profile_path_test_se], axis=1)
test.drop('cast', inplace=True, axis=1)

### crew

In [12]:
train_gen = train.loc[:, 'crew']
test_gen = test.loc[:, 'crew']

train_gen[0]

"[{'credit_id': '52fe44e7c3a368484e03d683', 'department': 'Directing', 'gender': 0, 'id': 65429, 'job': 'Director', 'name': 'Kunihiko Yuyama', 'profile_path': '/9z3LqqCMRZWyptfIZnlAdG7CnaZ.jpg'}, {'credit_id': '52fe44e7c3a368484e03d689', 'department': 'Writing', 'gender': 2, 'id': 25761, 'job': 'Writer', 'name': 'Hideki Sonoda', 'profile_path': None}]"

In [13]:
train_gen = train.loc[:, 'crew']
test_gen = test.loc[:, 'crew']

#学習データ切り分け
train_gen = train_gen.to_json()
train_gen_dict = json.loads(train_gen)

credit_id_train_dict = {}
department_train_dict = {}
gender_train_dict = {}
id_train_dict = {}
job_train_dict = {}
name_train_dict = {}
profile_path_train_dict = {}

for k, v in train_gen_dict.items() :
    if v is not None :
        k = int(k)
        v = ast.literal_eval(v)
        
        if len(v) >= 2 :
            credit_id_train_list = []
            department_train_list = []
            gender_train_list = []
            id_train_list = []
            job_train_list = []
            name_train_list = []
            profile_path_train_list = []
            for i in range(len(v)) :
                credit_id_train_list.append(str(v[i]['credit_id']))
                department_train_list.append(str(v[i]['department']))
                gender_train_list.append(str(v[i]['gender']))
                id_train_list.append(str(v[i]['id']))
                job_train_list.append(str(v[i]['job']))
                name_train_list.append(str(v[i]['name']))
                profile_path_train_list.append(str(v[i]['profile_path']))
                

            credit_id_train_dict[k] = ', '.join(credit_id_train_list)
            department_train_dict[k] = ', '.join(department_train_list)
            gender_train_dict[k] = ', '.join(gender_train_list)
            id_train_dict[k] = ', '.join(id_train_list)
            job_train_dict[k] = ', '.join(job_train_list)
            name_train_dict[k] = ', '.join(name_train_list)
            profile_path_train_dict[k] = ', '.join(profile_path_train_list)
        else:
            credit_id_train_dict[k] = v[0]['credit_id']
            department_train_dict[k] = v[0]['department']
            gender_train_dict[k] = v[0]['gender']
            id_train_dict[k] = v[0]['id']
            job_train_dict[k] = v[0]['job']
            name_train_dict[k] = v[0]['name']
            profile_path_train_dict[k] = v[0]['profile_path']

credit_id_train_se = pd.Series(credit_id_train_dict, credit_id_train_dict.keys(), name='crew_credit_id')
department_train_se = pd.Series(department_train_dict, department_train_dict.keys(), name='crew_department')
gender_train_se = pd.Series(gender_train_dict, gender_train_dict.keys(), name='crew_gender')
id_train_se = pd.Series(id_train_dict, id_train_dict.keys(), name='crew_id')
job_train_se = pd.Series(job_train_dict, job_train_dict.keys(), name='crew_job')
name_train_se = pd.Series(name_train_dict, name_train_dict.keys(), name='crew_name')
profile_path_train_se = pd.Series(profile_path_train_dict, profile_path_train_dict.keys(), name='crew_profile_path')

#テストデータ切り分け
test_gen = test_gen.to_json()
test_gen_dict = json.loads(test_gen)

credit_id_test_dict = {}
department_test_dict = {}
gender_test_dict = {}
id_test_dict = {}
job_test_dict = {}
name_test_dict = {}
profile_path_test_dict = {}

for k, v in test_gen_dict.items() :
    if v is not None :
        k = int(k)
        v = ast.literal_eval(v)
        
        if len(v) >= 2 :
            credit_id_test_list = []
            department_test_list = []
            gender_test_list = []
            id_test_list = []
            job_test_list = []
            name_test_list = []
            profile_path_test_list = []
            for i in range(len(v)) :
                credit_id_test_list.append(str(v[i]['credit_id']))
                department_test_list.append(str(v[i]['department']))
                gender_test_list.append(str(v[i]['gender']))
                id_test_list.append(str(v[i]['id']))
                job_test_list.append(str(v[i]['job']))
                name_test_list.append(str(v[i]['name']))
                profile_path_test_list.append(str(v[i]['profile_path']))
                

            credit_id_test_dict[k] = ', '.join(credit_id_test_list)
            department_test_dict[k] = ', '.join(department_test_list)
            gender_test_dict[k] = ', '.join(gender_test_list)
            id_test_dict[k] = ', '.join(id_test_list)
            job_test_dict[k] = ', '.join(job_test_list)
            name_test_dict[k] = ', '.join(name_test_list)
            profile_path_test_dict[k] = ', '.join(profile_path_test_list)
        else:
            credit_id_test_dict[k] = v[0]['credit_id']
            department_test_dict[k] = v[0]['department']
            gender_test_dict[k] = v[0]['gender']
            id_test_dict[k] = v[0]['id']
            job_test_dict[k] = v[0]['job']
            name_test_dict[k] = v[0]['name']
            profile_path_test_dict[k] = v[0]['profile_path']

credit_id_test_se = pd.Series(credit_id_test_dict, credit_id_test_dict.keys(), name='crew_credit_id')
department_test_se = pd.Series(department_test_dict, department_test_dict.keys(), name='crew_department')
gender_test_se = pd.Series(gender_test_dict, gender_test_dict.keys(), name='crew_gender')
id_test_se = pd.Series(id_test_dict, id_test_dict.keys(), name='crew_id')
job_test_se = pd.Series(job_test_dict, job_test_dict.keys(), name='crew_job')
name_test_se = pd.Series(name_test_dict, name_test_dict.keys(), name='crew_name')
profile_path_test_se = pd.Series(profile_path_test_dict, profile_path_test_dict.keys(), name='crew_profile_path')

In [14]:
train = pd.concat([train, credit_id_train_se, department_train_se, gender_train_se, id_train_se, job_train_se, name_train_se,
                   profile_path_train_se], axis=1)
train.drop('crew', inplace=True, axis=1)
train.head(3)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,release_date,runtime,status,tagline,title,Keywords,production_countries_iso_3166_1,production_countries_name,spoken_languages_iso_639_1,spoken_languages_name,cast_cast_id,cast_character,cast_credit_id,cast_gender,cast_id,cast_name,cast_order,cast_profile_path,crew_credit_id,crew_department,crew_gender,crew_id,crew_job,crew_name,crew_profile_path
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,/tnftmLMemPLduW6MRyZE0ZUD19z.jpg,NaN,7/14/07,90.0,Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","JP, US","Japan, United States of America","en, ja","English, 日本語","3, 4, 5, 6, 7, 8, 9","Tonio, Alice, Ash Ketchum, Pikachu, Darkrai, M...","52fe44e7c3a368484e03d68d, 52fe44e7c3a368484e03...","0, 1, 1, 1, 0, 0, 0","82140, 111768, 111767, 73044, 108721, 111779, ...","Craig Blair, Emily Bauer, Sarah Natochenny, Ik...","0, 1, 2, 3, 4, 5, 6","None, None, /pZidptjHfqi2gQVVQmQ25rXyayi.jpg, ...","52fe44e7c3a368484e03d683, 52fe44e7c3a368484e03...","Directing, Writing","0, 2","65429, 25761","Director, Writer","Kunihiko Yuyama, Hideki Sonoda","/9z3LqqCMRZWyptfIZnlAdG7CnaZ.jpg, None"
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,/9MgBNBqlH1sG4yG2u4XkwI5CoJa.jpg,"[{'name': 'Woolner Brothers Pictures Inc.', 'i...",5/19/58,65.0,Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...",US,United States of America,en,English,"2, 3, 4, 5, 6, 8, 9, 10, 11, 20","Nancy Fowler Archer, Harry Archer, Honey Parke...","52fe47949251416c7509e999, 52fe47949251416c7509...","1, 0, 1, 0, 0, 0, 0, 0, 2, 2","104412, 108299, 89163, 34211, 140411, 14365, 1...","Allison Hayes, William Hudson, Yvette Vickers,...","0, 1, 2, 3, 4, 6, 7, 8, 9, 10","/6VoMLGGRH1ccl25cyaHJWyMapD0.jpg, /yJDm8q5pzge...","55807805c3a3685b1300060b, 558077f3925141271000...","Editing, Camera, Production, Directing, Sound,...","2, 2, 2, 0, 2, 2, 2, 0","13781, 40392, 40392, 44878, 91999, 98447, 1019...","Editor, Director of Photography, Executive Pro...","Edward Mann, Jacques R. Marquette, Jacques R. ...","None, None, None, None, None, None, None, None"
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,/ed6nD7h9sbojSWY2qrnDcSvDFko.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",5/23/97,100.0,Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...",US,United States of America,en,English,"11, 12, 13, 14, 15, 16, 17, 18, 20","Maggie, Sam, Linda Green, Anton Depeux, Nana, ...","52fe4330c3a36847f804139b, 52fe4330c3a36847f804...","1, 2, 1, 2, 1, 2, 2, 2, 1","5344, 4756, 11164, 10698, 21151, 21152, 21153,...","Meg Ryan, Matthew Broderick, Kelly Preston, Tc...","0, 1, 2, 3, 4, 5, 6, 7, 8","/iv33eEcSakPCkO2MiR4bIZpjgyg.jpg, /j9ETatVKFxY...","52fe4330c3a36847f8041367, 52fe4330c3a36847f804...","Directing, Production, Production, Sound, Came...","0, 0, 2, 1, 2, 1, 0, 0, 0, 2","2171, 21146, 20908, 3562, 8846, 21147, 21148, ...","Director, Producer, Producer, Original Music C...","Griffin Dunne, Robert F. Newmyer, Jeffrey Silv...","/4oCLupH3Uo2otzF77LrYE4s1iqw.jpg, None, None, ..."

In [15]:
test = pd.concat([test, credit_id_test_se, department_test_se, gender_test_se, id_test_se, job_test_se, name_test_se,
                   profile_path_test_se], axis=1)
test.drop('crew', inplace=True, axis=1)
test.head(3)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,runtime,status,tagline,title,Keywords,spoken_languages_iso_639_1,spoken_languages_name,cast_cast_id,cast_character,cast_credit_id,cast_gender,cast_id,cast_name,cast_order,cast_profile_path,crew_credit_id,crew_department,crew_gender,crew_id,crew_job,crew_name,crew_profile_path
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,/tnftmLMemPLduW6MRyZE0ZUD19z.jpg,NaN,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",7/14/07,90.0,Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","en, ja","English, 日本語","3, 4, 5, 6, 7, 8, 9","Tonio, Alice, Ash Ketchum, Pikachu, Darkrai, M...","52fe44e7c3a368484e03d68d, 52fe44e7c3a368484e03...","0, 1, 1, 1, 0, 0, 0","82140, 111768, 111767, 73044, 108721, 111779, ...","Craig Blair, Emily Bauer, Sarah Natochenny, Ik...","0, 1, 2, 3, 4, 5, 6","None, None, /pZidptjHfqi2gQVVQmQ25rXyayi.jpg, ...","52fe44e7c3a368484e03d683, 52fe44e7c3a368484e03...","Directing, Writing","0, 2","65429, 25761","Director, Writer","Kunihiko Yuyama, Hideki Sonoda","/9z3LqqCMRZWyptfIZnlAdG7CnaZ.jpg, None"
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,/9MgBNBqlH1sG4yG2u4XkwI5CoJa.jpg,"[{'name': 'Woolner Brothers Pictures Inc.', 'i...","[{'iso_3166_1': 'US', 'name': 'United States o...",5/19/58,65.0,Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...",en,English,"2, 3, 4, 5, 6, 8, 9, 10, 11, 20","Nancy Fowler Archer, Harry Archer, Honey Parke...","52fe47949251416c7509e999, 52fe47949251416c7509...","1, 0, 1, 0, 0, 0, 0, 0, 2, 2","104412, 108299, 89163, 34211, 140411, 14365, 1...","Allison Hayes, William Hudson, Yvette Vickers,...","0, 1, 2, 3, 4, 6, 7, 8, 9, 10","/6VoMLGGRH1ccl25cyaHJWyMapD0.jpg, /yJDm8q5pzge...","55807805c3a3685b1300060b, 558077f3925141271000...","Editing, Camera, Production, Directing, Sound,...","2, 2, 2, 0, 2, 2, 2, 0","13781, 40392, 40392, 44878, 91999, 98447, 1019...","Editor, Director of Photography, Executive Pro...","Edward Mann, Jacques R. Marquette, Jacques R. ...","None, None, None, None, None, None, None, None"
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,/ed6nD7h9sbojSWY2qrnDcSvDFko.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",5/23/97,100.0,Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...",en,English,"11, 12, 13, 14, 15, 16, 17, 18, 20","Maggie, Sam, Linda Green, Anton Depeux, Nana, ...","52fe4330c3a36847f804139b, 52fe4330c3a36847f804...","1, 2, 1, 2, 1, 2, 2, 2, 1","5344, 4756, 11164, 10698, 21151, 21152, 21153,...","Meg Ryan, Matthew Broderick, Kelly Preston, Tc...","0, 1, 2, 3, 4, 5, 6, 7, 8","/iv33eEcSakPCkO2MiR4bIZpjgyg.jpg, /j9ETatVKFxY...","52fe4330c3a36847f8041367, 52fe4330c3a36847f804...","Directing, Production, Production, Sound, Came...","0, 0, 2, 1, 2, 1, 0, 0, 0, 2","2171, 21146, 20908, 3562, 8846, 21147, 21148, ...","Director, Producer, Producer, Original Music C...","Griffin Dunne, Robert F. Newmyer, Jeffrey Silv...","/4oCLupH3Uo2otzF77LrYE4s1iqw.jpg, None, None, ..."